POSTGRES_USER=gisuser
POSTGRES_PASSWORD=gispassword
POSTGRES_DB=cadastralmap
SECRET_KEY=yoursecretkeyhere

DATA_PROVIDER=overture
OVERTURE_API_KEY=your_rotated_key_here
OVERTURE_TIMEOUT_SECONDS=30
OVERTURE_MAX_RETRIES=3
OVERTURE_CACHE_TTL_SECONDS=86400
